.productListing-header {
  margin: 32px 0 0;
  padding: 0 30px 32px;
  /* background-color: yellowgreen; */
  & > div {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
  }
}

.productListing-text {
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.productListing-buttons {
  /* background-color: violet; */
  display: flex;
  gap: 20px;
  align-items: center;
  & button {
    /* transition: border-color .15s; */
    background: none;
    padding: 13px 20px;
    border: 1px solid #dededc;
    border-radius: 200px;
  }
}
