.header_bottom_nav {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.header_bottom_nav ul {
  padding: 0;
  /* width: 45%; */
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 16px 0;
}
.header_bottom_nav ul :nth-child(4) {
  border: none;
}
.header_bottom_nav ul li {
  padding: 2px 0;
  border-right: 1px solid #eee;
}
.header_bottom_nav ul li a {
  text-decoration: none;
  padding: 3px 15px;
  font-size: 13px;
  color: #00bcd4;
}
@media (max-width: 768px) {
  .header_bottom_nav {
    /* position: relative; */
    height: 50px;
    /* z-index: 50; */
  }
  .header_bottom_nav ul {
    display: none;
  }
}
